[submodule "opencv-4.4.0-android-sdk"]
	path = opencv-4.4.0-android-sdk
	url = https://github.com/DenisBelobrotski/opencv-4.4.0-android-sdk.git
[submodule "eye-tracking-library"]
	path = eye-tracking-library
	url = https://github.com/DenisBelobrotski/eye-tracking-library.git
	branch = master
